*{
    margin:0;
    padding:0;
}
body{
    text-align:center;
    }
 .top{
    width: 1170px;
    margin: 0 auto;
 }

 .banner{
   top: 0px;
    width: 100%;
    height: 600px;
    position:fixed;
  background-image:url(bg1.jpg);
  -webkit-background-size:cover;
    background-size:cover;
    background-position:center ;
    transition: 0.4s;
  

 }

 .text-box {
    color:white;
    position: absolute;
    bottom: 45%;
 }
 .text-box p{
    text-align: left;
    font-size: 50px;
    font-weight: 600;
 }
 .text-box h1{
    font-size: 100px;
   line-height: 100px;
   color: transparent;
   -webkit-text-stroke: 1px white;
   background: url(bg4.jpg);
   -webkit-background-clip:text;
   background-position: 0 0;
   animation: back 40s linear infinite;
   
}
@keyframes back{
    100%{
        background-position: 2000px 0;   
    }
}
.content{
    color: white;
    width: 100%;
    position:relative;
    top: 450px;
    background:black;
    height: 800px;
 }

.about{
   width:80%;
   padding:78px 0px;
   background: white ; 
   position: absolute;
   top: 50px;
   left: 120px;
   box-sizing: border-box;
   overflow: hidden;
   border-radius: 20px;
   border-radius: 4px;
   box-shadow: 0 5px 15px rgba(0,0,0,.5);
   display: flex;
   animation: move 2s linear ;
  
}


@keyframes move{ 
   from{ 
   transform: translate(-800px);
    } 
   to{ 
   transform: translate(0);
    } 
   }

.about img{
height:auto ; 
width:420px;

border-radius:  250px;

margin-right: 100px;

}
.about-text{
   width:2000px;
   font-size: 150px;
   }
   .main{
      width: 1130px;
      max-width: 95%;
      margin: 0 auto;
      display:flex;
      align-items: center;
      justify-content: space-around;
   }
 
   .about-text h1{
      text-align: left;
            margin-left: 50px;
     color:black ;
     font-size: 100px;
     text-transform: capitalize;
     margin-bottom: 20px;
      }
      .about-text h5{
         text-align: left;
         margin-left: 50px;
         color:green ;
         font-size: 40px;
         text-transform: capitalize;
         margin-bottom: 25px;
         letter-spacing: 2px;
          }
          span
          {
            color: red;
          }
          .about-text p{
            text-align: left;
            margin-left: 50px;
            display: flex;
            color:black ;
            letter-spacing: 0.5px;
            line-height:50px ;
            font-size: 30px;
            text-transform: capitalize;
            margin-bottom: 45px;
          }

.box{

   color: white;
    width: 100%;
    position:relative;
    top: 800px;
    background:black;
    height: 350px;


}


 .card {
   --card-gradient: rgba(0, 0, 0, 0.8);
   --card-gradient: #5e9ad9, #e271ad;
   --card-gradient: tomato, orange;
    --card-blend-mode: overlay;
   --card-blend-mode:multiply;
   background-color: #fff;
   border-radius: 0.3rem;
   box-shadow: 0.05rem 0.1rem 0.3rem  -0.03rem rgba(0, 0, 0, 0.45);
   padding-bottom: 1rem;
   background-image: linear-gradient(
     var(--card-gradient),
     white max(9.5rem, 27vh)
   );
   overflow: hidden;
 height: 300px;
 
 
}
.card:hover
{
   transform: scale(1.25);  
}

 

 .card h3 {
   margin-left: 5px;
   margin-bottom: 7rem;
   font-size: 2.25rem;
   
 }
 .card a{
   color: black;
  text-align: center;
 }


 .card-wrapper {
   list-style: none;
   padding: 0px;
   margin-left: 40px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
   grid-gap: 2.5rem;
   max-width: 100vw;
   width: 150ch;
   padding-left: 5rem;
   padding-right: 5rem;
 
 }
 .education{
 width: 100%;
   position:relative;
   top: 800px;
   background:#C1E1C1;
   height: 800px;
}
.education h1{
  text-align: center;
  color:black ;
  font-size: 100px


  }

.personality{
   
   width: 100%;
   position:relative;
   top: 790px;
   background:#fadadd;
   height: 1100px;
}
.skills{
   color: white;
   width: 100%;
   position:relative;
   top: 400px;
   background:#b7e9f7;
   height: 600px;
}


*, *::before, *::after {
   box-sizing: border-box;
 }
 
 html, body {
   height: 100%;
 }
 
 body {
   margin: 0;
   display: grid;
   align-items: center;
   justify-items: center;
   height: 100%;
   color: #f4f7f7;
   background-color: #586875;
   font: 1rem/1 'Cabin', sans-serif;
   overflow-x: hidden;
 }
 
 
 input {
   position: absolute;
   width: 1px;
   clip: rect(0 0 0 0);
   overflow: hidden;
   white-space: nowrap;
 }
 
 .selector {
   display: grid;
   grid-template-areas:
     'happy lovers'
     'pick  pick';
 }
 
 /* the cards and toggle buttons are actually fat labels that can be clicked to set radio buttons */
 label {
   display: block;
   cursor: pointer;
 }
 
 .happy-card, .lovers-card {
   position: relative; /* for iOS */
   width: 350px;
   padding: 30px;
   color: #586875;
   background-color: #f4f7f7;
   box-shadow: 0 10px 20px #0006;
   animation-duration: 0.4s;
   animation-timing-function: ease-in-out; /* important to use a symmetrical timing function (linear also works) */
   animation-fill-mode: forwards;
 }
 
 .happy-card {
   grid-area: happy;
   margin-right: 100px; /* nudge closer to lover's card */
   
   /* these values are used to animate via translateX */
   --swing: -500px;
   --overlap: 500px;
 }
 
 .lovers-card {
   grid-area: lovers;
   margin-left: 100px; /* nudge closer to happy card */
 
   /* these values are used to animate via translateX */
   --swing: 500px;
   --overlap: -500px;
 }
 
 /* when a radio button is set, swing the corresponding card fowards */
 #happy-radio:checked ~ .selector .happy-card,
 #lovers-radio:checked ~ .selector .lovers-card {
   animation-name: swing-forwards;
 }
 
 @keyframes swing-forwards {
   0% {
     z-index: 1; /* start behind other card */
     transform: scale(0.9);
   }
   50% {
     transform: translateX(var(--swing));
   }
   100% {
     z-index: 2; /* end in front of other card */
     transform: translateX(var(--overlap)) scale(1.1);
   }
 }
 
 /* when a radio button is set, swing the opposite card backwards */
 #happy-radio:checked ~ .selector .lovers-card,
 #lovers-radio:checked ~ .selector .happy-card {
   animation-name: swing-backwards;
 }
 
 @keyframes swing-backwards {
   0% {
     z-index: 2;  /* start in front of other card */
     transform: translateX(var(--overlap)) scale(1.1);
   }
   50% {
     transform: translateX(var(--swing));
   }
   100% {
     z-index: 1; /* end behind other card */
     transform: scale(0.9);
   }
 }
 
 .education h1 {
   margin: 0;
   padding-bottom: 10px;
   border-bottom: 1px dashed #bdd6d2;
   font-size: 80px;
 }
 
 .education ul {
   margin: 15px 0;
   padding-left: 30px;
   line-height: 1.5rem;
   background-color: #bdd6d2;
   list-style-type: square;
 }
 
 .education p {
   margin: 0 -20px -20px;
   padding: 15px;
   
   font-weight: bold;
   text-align: center;
 }
 
 
 
 .happy-pick::before, .lovers-pick::after {
   display: inline-block;
   font-family: 'Font Awesome 5 Free';
   font-weight: bold;
 }
 
 .happy-pick::before {
   margin-right: 10px;
   content: '\f0a8'; /* fa-arrow-circle-left */
 }
 
 .lovers-pick::after {
   margin-left: 10px;
   content: '\f0a9'; /* fa-arrow-circle-right */
 }
 
 /* hide happy toggle button if happy is currently selected */
 #happy-radio:checked ~ .selector .happy-pick {
   display: none;
 }
 
 /* hide lover's toggle button if lover's is currently selected */
 #lovers-radio:checked ~ .selector .lovers-pick {
   display: none;
 }
 
 /* increase overlap and swing distance on smaller screens */
 @media (max-width: 560px) {
   .happy-card {
     margin-right: -85px;
     --swing: -100px;
   }
 
   .lovers-card {
     margin-left: -85px;
     --swing: 100px;
   }
 }

 .happy-pick, .lovers-pick {
   grid-area:span;
   margin: 80px auto 0;
   padding: 15px;
   border: 1px solid #f4f7f7;
   border-radius: 9999px;
   background-color: #b46d73;
   font-size: 1.25rem;
   -webkit-user-select: none;
   user-select: none;
   position: absolute;
   right: 45%;
   bottom: 80px;
 }

 .wrapper {
   position: absolute;
   right: 20%;
   bottom:10% ;

   perspective: 40em;
   display: grid;
   transform-style: preserve-3d;
 }
 
 .thank{
   grid-area: 1 / 1;
   height: 200px;
   width: 400px;
   transform: translateX(10px) rotateY(25deg) rotateX(10deg);
   background: rgba(249, 198, 26, 0.88);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 30px;
   color: #000;
   text-transform: uppercase;
   font-size: 60px;
   font-weight: 900;
   backface-visibility: hidden;
   box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
 }
 
 .end h1 {
   font-size: 40px;
   font-weight: 700;
 }
 
 .thank.enclosed {
   background: #000;
   line-height: 1;
   color:rgba(249, 198, 26, 1);
   padding: 0 5px;
   display: inline-block;
   transform: translate(-1px, 1px) scale(0.75);
   transform-origin: right center;
 }
 
 .wrapper:before {
   --bw: 9px;
   grid-area: 1 / 1;
   content: '';
   backface-visibility: hidden;
   height: 100%;
   width: 100%;
   margin-top: calc(-1 * var(--bw));
   margin-left: calc(-1 * var(--bw));
   background: transparent;
   transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
   pointer-events: none;
   border: var(--bw) solid #000;
   box-sizing: content-box;
 }
 
 
 .wrapper:hover > div,
 .wrapper:hover:before {
   transform: none;
 }
 
 
 .wrapper > div,
 .wrapper:before {
   will-change: transform;
   transition: .3s transform cubic-bezier(.25,.46,.45,1);
 }
 
 

 
 .end{
   top:400px;
   height:700px;
   position: relative;
   display: grid;
   place-items: center;
   background:
     linear-gradient(to bottom right, #3C4BBD 15%, transparent),
     radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
     linear-gradient(to bottom right, #3C4BBD, #57ADD8);
 }
 
body{
   font-family: Helvetica, Arial, sans-serif;
 }
 .sk{
   width: 50%;
   margin: 0 auto;
   text-align: left;
 }
 @keyframes load{
   from {
     width: 0%
   }
 }
 @-webkit-keyframes load{
   from {
     width: 0%
   }
 }
 @-moz-keyframes load{
   from {
     width: 0%
   }
 }
 @-o-keyframes load{
   from {
     width: 0%
   }
 }
 
 .bar{
   background-color: #EEE;
   padding: 2px;
   border-radius: 15px;
   margin-bottom: 5px;
   font-size: 14px;
   color: #FFF;
   font-weight: bold;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
 }
 .bar::before{
   content:  attr(data-skill);
   background-color: #f3b0ff;
   display: inline-block;
   padding: 5px 0 5px 10px;
   border-radius: inherit;
   animation: load 2s 0s;
   -webkit-animation: load 2s 0s;
   -moz-animation: load 2s 0s;
   -o-animation: load 2s 0s;
 }
 
 .bar.front::before{
   background-color: #ffcc33;
 }
 .bar.back::before{
   background-color: #a6cfe3;
 }
 
 .bar.learning::before{
   width: calc(20% - 10px);
 }
 .bar.basic::before{
   width: calc(40% - 10px);
 }
 .bar.intermediate::before{
   width: calc(60% - 10px);
 }
 .bar.advanced::before{
   width: calc(80% - 10px);
 }
 .bar.expert::before{
   width: calc(100% - 10px);
 }
 @keyframes slideinleft
 {
   from{
      transform:translatex(-300px);

   }
   to{
      transform: translate(0);
   }

 }
 .personality h1{
   animation-name: slideinleft;
   animation-duration:1s ;
   animation-timing-function:ease-in ;
   animation-delay: 1s;
   animation-iteration-count:1 ;
   animation-direction: normal;
   animation-fill-mode:none ;
  
   

 }
 @keyframes slideinright
 {
   from{
      transform:translatex(300px);

   }
   to{
      transform: translate(0);
   }

 }

 .flex-box{
   height:auto ; 
   width:420px;
   border-radius:  250px;
   margin-right: 100px;
   
   }
   .flex-text{
      width:2000px;
      font-size: 150px;
      }
      .flex{
         width: 1130px;
         max-width: 95%;
         margin: 0 auto;
         display:flex;
         align-items: center;
         justify-content: space-around;
      }
    
      .flex-text h1{
         text-align: left;
               margin-left: 50px;
        color:black ;
        font-size: 40px;
        text-transform: capitalize;
        margin-bottom: 20px;
         }
        
             .flex-text ul{
               text-align: left;
               margin-left: 50px;
               display: flex;
               color:black ;
               letter-spacing: 1px;
               line-height:88px ;
               font-size: 50px;
               text-transform: capitalize;
               margin-bottom: 45px;
             }
   
     

 .personality ol{
   animation-name: slideinright;
   animation-duration:2s ;
   animation-timing-function:ease-in ;
   animation-delay: 1s;
   animation-iteration-count:1 ;
   animation-direction: normal;
   animation-fill-mode:none ;
   font-size: 25px;
   letter-spacing: normal;
   line-height: normal;
   text-align: left;
  
 }
 .flex-box h2 {
 
      /* animation properties */
      animation-name: my-animation;
      animation-duration: 2s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      
      /* other properties */
      width: 750px;
      height: 300px;
      border-radius: 10px;
      position: absolute;
      left: 0; 
      
     
      margin-top: 100px;
      margin-left: 40px;
      margin-right: auto; 
    overflow: hidden;
    }
   
    @keyframes my-animation {
      from {
        background:url(abtt.jpg);
        background-position: center;
        width: 300px;
        top: 10%;
      }
      to {
        background:url(abtt.jpg);
        background-position: center;
        width: 50px;
        top: 20%;
      }
    }
 
/* Animation property */
button {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


button {
  position: absolute;
 top: 10%;
 margin-right: 10px;
  height: 5em;
  width: 20em;
  color: black;
  background: white;
  background: linear-gradient(top, #555, #333);
  border: none;
  left: 5%;

  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;

  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}



 .end ul { 
   list-style: none;
 }
  
   .end li {
     display: inline-block;
     background-color: black;
     margin: 50px; 
     border-radius: 50%;
    
   }
     
     a {
       color: white;
       display: table-cell;
       vertical-align: middle; 
       text-align: center;
       text-decoration: none;
 
      
       height: 150px;
       width: 150px;   
       
       &:hover, &:active {
         color: lightsalmon;
         text-decoration: none;
       }
     }
   }
 }
.sk h1{
  width:400px;
   font-size: 80px;
   color: black;
}
.skills h1{
  width:400px;
   font-size: 80px;
   color: black;
}
.achievements{
  color: white;
  width: 100%;
  position:relative;
  top: 400px;
  background:#4e5766;
  height: 800px;
}
.achievements h1{
  width:400px;
   font-size: 60px;
   color: black;
}
.textt{
  position: absolute;
  
  width:inherit ;
  
  right:2%;
  bottom: 100px;
  transform: translateY(-48%);
  text-align: center;
  color:black;
overflow: hidden
}
.circle
{
  width: 400px;
  height:350px;
  background: white;
  margin: 5% auto;
  border-radius: 100px;
 position:relative;
}

.links{
  position: absolute;
  right: 55%;
  bottom: 50%;
}
.link{
  position: absolute;
  right: 0%;
}
.home{
  position: absolute;
  right: 5%;
  bottom:10%
}
.home:hover
{
   transform: scale(1.25);  
}
.links:hover
{
   transform: scale(1.25);  
}
.link:hover
{
   transform: scale(1.25);  
}
.happy-pick:hover, .lovers-pick:hover {
  transform: scale(1.25);  
}
.happy-card    :hover{
  transform: scale(1.25); 
}
.lovers-card :hover{
  transform: scale(1.25); 
}


       
 
